factestio/*
!factestio/config.lua.example
!factestio/example.lua
map.dat
results/*
root-save.zip
scenarios/factestio/script-init.dat
scenarios/factestio/script.dat
scenarios/factestio/test_constants.lua
scenarios/factestio/test_context.lua
scenarios/factestio/test_files.lua
scenarios/factestio/test_name.lua
scenarios/factestio/test_seed.lua
tmp/*
